@font-face {
    font-family: navFont;
    src: url(menuFont.ttf);
  }


.bottomNavBar{
    background-color: #333;
    overflow: hidden;
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: navFont;
  }

li{
    float:left;
    color: white;
    margin: 0;
    padding: 14px 16px;
    width:100%;
}

li:hover {
    background-color: #111;
    cursor: pointer;
  }




